*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html{
	font-size: 17px;
	scroll-behavior:smooth;
}

body{
	font-family: 'Roboto';
	overflow-x: hidden;
}

img{
	max-width: 100%;
}

h1{
	color:#fff;
	font-size: 4rem;
	font-family: 'Inter';
	
}

h2, h3, h4{
	font-family: 'Inter';
}

.wrap{
	width:90%;
	margin:0 auto;
	max-width: 1400px;
}

p{
	line-height: 25px;
}

/*estilos menu*/

#container{
	position: fixed;
	margin:0 auto;
	width:90%;
	max-width: 1400px;
}

#back{
	padding:45px 0;
}

.menu{
	top:0;
	left:0;
	right:0;
	display: flex;
	align-items:center;
	justify-content: space-between;
	z-index: 5;
}  

.menu .navbar  li{
	position: relative;
	float:left;
}

.menu .navbar ul li a{
	font-family: 'Inter';
	font-size: 18px;
	padding:20px 30px;
	color:#665e5e;
	display:block;
}

.menu .navbar ul li a:hover{
	color:#1caed0;
}

#menu{
	display:none;
}

.menu-icono{
	width:25px;
}

.menu label{
	cursor: pointer;
	display:none;
}

#logo2{
	display:none;
}

#logo2 img{
	width:50%;
}

#logo img{
	width:70%;
}


.inicio{
	height: 650px;
	width: 100%;
	/*box-shadow: inset 0 0 0 1000px rgba(8, 17, 52, 0.7);*/
    box-shadow: inset 0 0 0 1000px rgba(11, 18, 46, 0.6);
	background-image: url(../imagenes/slide1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 10s;

	animation-name: animate;
	animation-direction: alternate-reverse;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
	animation-duration: 20s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

@keyframes animate{
		0%{
		background-image: url(../imagenes/slide2.jpg);
	}
		33%{
		background-image: url(../imagenes/slide3.jpg);
	}
		66%{
		background-image: url(../imagenes/slide4.jpg);
	}
}

.inicio hr{
    margin:0 0 60px;
    height: 20px;
    width: 87%;
    background-color: #f2ff2a;
    border:none;
}

.inicioIzq p{
	margin:60px 0;
	color:#fff;
	font-size: 1.2rem;
}

.inicioIzq{
	padding:150px 15px 0 0 ;
	width:50%;
	float:left;
}

.inicioDer{
	padding:190px 0 0 ;
	width:40%;
	float:right;
}

.inicioDer h3{
	color:#6ecbe1;

}

.inicioDer img{
    padding:60px 30px 60px 0;
}

.inicioDer p{
	padding:20px 0x;
	color:#fff;
	font-size: 1.2rem;
}

.marcas{
    text-align: center;
}

.tel p{
    font-weight: bold;
    font-size: 1.3rem;
    color:#f2ff2a;
}


.inicio-box a{
    color:#fff;
    font-size:18px;
	text-decoration: none;
}

.inicio-box{
    width:200px ;
    background-color: #f92891;
    overflow:hidden;
    padding:15px 0;
    margin:45px 0 ;
    text-align: center;

}

.inicio-box:hover {
    background-color: #e53d91;
}

#nosotros{
	padding:100px 0 50px;
	
}

#nosotros h2{
	padding:0 0 50px;
	text-align: center;
	color:#72acb9;
	font-size: 3rem;
}

#nosotros p{
	color:#4c4747;
	padding:0 0 50px;
}

.acerca{
	display:flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;
   
}

.columnaAcerca{
    width:40%;
}

.columnaAcerca h3{
	padding:20px 0;
	color:#777373;
	text-align: center;
	font-size: 1.8rem;
}

lottie-player {
	width:230px;
	margin:0 auto;
	display:block;
	height:230px;
}

.wrap2{
	width:80%;
	margin:0 auto;
}

#productos{
	padding:100px 0 50px;
}

#productos hr{
    
    padding:0;
    width:100%;
    display:block;
    margin:0 auto;
    border: none;
    height: 2px;
    background: #c7d3d5;

}

.contenedor-productos{
    display:flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;
    padding: 0;
}

.columna-productos{
    padding: 0 0 50px;
    width:25%;
}

#productos p{
	color:#4c4747;
	padding:0 15%;
}

#productos h2{
	padding:0 0 50px;
	text-align: center;
	color:#72acb9;
	font-size: 3rem;
}

#productos h3{
	padding:0;
	color:#777373;
	text-align: center;
	font-size: 1.6rem;
}

#productos img{
	width:60%;
	display:block;
	margin:50px auto;
}

#servicios{
	padding:100px 0 ;
	background-color: #e8e9eb;
}

#servicios hr{
    
    padding:0;
    width:100%;
    display:block;
    margin:0 auto;
    border: none;
    height: 2px;
    background: #c7d3d5;

}

.wrap3{
	width:50%;
	margin:0 auto;
	padding:0 0 50px;
}

.contenedor-servicios{
    display:flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;
    padding: 0;
}

.columna-servicios{
    padding: 0;
    width:20%;
}

#servicios p{
	color:#4c4747;
}

#servicios h2{
	padding:0 0 50px;
	text-align: center;
	color:#72acb9;
	font-size: 3rem;
}

#servicios h3{
	padding:40px 0;
	color:#128099;
	text-align: center;
}

.icono{
	text-align: center;
}

.goto-top{
    position:fixed;
    bottom:30px;
    right:20px;
    width:40px;
    height:40px;
	opacity:2;
    filter:alpha(opacity=20);
    -ms-transition:all 0.5s ease-in;
    -moz-transition:all 0.5s ease-in;
    -o-transition:all 0.5s ease-in;
    -webkit-transition:all 0.5s ease-in;
    transition:all 0.5s ease-in;
    border: none !important;
}

.goto-top:hover{
    opacity:0.4;
    filter:alpha(opacity=4);
    -ms-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    -webkit-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}


/*estilos formulario*/

#contacto{
	padding:60px 0 ;
	background-color: #e9eff3;
}

#contacto h2{
	padding:0 0 50px;
	text-align: center;
	color:#72acb9;
	font-size: 3rem;
}

.contactoWrap{
    margin:0 auto;
	display: block;
    width:70%;
}

.containerForm p, h2{
    text-align: center;
    
}

.formP{
    padding:30px 0;
}

.containerForm hr{
    
    padding:0;
    width:95%;
    display:block;
    margin:0 auto;
    border: none;
    height: 3px;
    background: #72acb9;

}

.sectionForm .containerForm {
	margin:0 auto;
    width: 80%;
    padding: 20px;
}
.sectionForm .containerForm .formRow {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.sectionForm .containerForm .formRow .colForm {
    position: relative;
    width: 100%;
    padding: 0px 10px;
    margin: 30px 0px 10px;
    transition: 0.5s;
}
.sectionForm .containerForm .formRow .colForm .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #0d4551;
    
}
.sectionForm .containerForm .formRow .colForm .inputBox input,
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0px 10px;
    z-index: 1;
    color: #fff;
}
.sectionForm .containerForm .formRow .colForm .inputBox .text {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.sectionForm .containerForm .formRow .colForm .inputBox input:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid + .text {
    left: -10px;
    top: -35px;
}
.sectionForm .containerForm .formRow .colForm .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
    background-color: #72acb9;
}
.sectionForm .containerForm .formRow .colForm .inputBox input:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid ~ .line {
    height: 100%;
}
.sectionForm .containerForm .formRow .colForm .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0px;
}
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    height: 100px;
    resize: none;
}
.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid + .text {
    left: -10px;
    top: -35px;
}
.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid ~ .line {
    height: 100%;
}
input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background-color: #350b10;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.alertaRoja{
    color: #ff0000;
    font-weight: 500;
    font-size: 18px;
}
.alertaVerde{
    color: #2d572c;
    font-weight: 500;
    font-size: 18px;
}

.contacto-box button{
    color:#fff;
    font-size:1.5rem;
	text-decoration: none;
}

.contacto-box{
    width:150px ;
    background-color: #f92891;
	cursor: pointer;
	border:none;
	color:#fff;
	font-size:1.3rem;
    overflow:hidden;
    padding:15px 0;
    margin:45px 0 ;
    text-align: center;
	cursor: pointer;

}

.contacto-box:hover{
    background-color: #e53d91;
}

footer{
    background-color: #242222;
    color:#fff;
    padding:20px 0;
}

footer p{
    text-align: center;
}
