

/*Menu*/
@media(max-width:768px){
	.menu{
		padding: 30px;
	}
	.menu label{
		display:initial;
	}
	.back{
		padding:40px 0;
	}

	.menu .navbar{
		position: absolute;
		top:100%;
		left:0;
		right:0;
		background-color: black;
		display:none;
		
	}


	.menu .navbar ul li{
		width:100%;
	}

	#menu:checked ~ .navbar{
		display:initial;
	}

}



