/*Menu*/

@media(min-width:320px) and (max-width:330px){
	#inicio{
		height:116px;
	}
}

@media(min-width:331px) and (max-width:360px){
	#inicio{
		height:124px;
	}
}

@media(min-width:361px) and (max-width:378px){
	#inicio{
		height:128px;
	}
}

@media(min-width:379px) and (max-width:400px){
	#inicio{
		height:134px;
	}
}	

@media(min-width:401px) and (max-width:419px){
	#inicio{
		height:138px;
	}
}

@media(min-width:420px) and (max-width:768px){
	#inicio{
		height:142px;
	}
}

@media(max-width:768px){
	.menu{
		padding: 30px;
		
	}

	.menu label{
		display:initial;
	}
	.back{
		padding:71px 0;

	}

	.menu .navbar{
		position: absolute;
		top:100%;
		left:0;
		right:0;
		background-color: #242222;
		display:none;
	}
	.menu .navbar ul li{
		width:100%;
	}

	.menu .navbar ul li a{
		color:#fff;
	
	}

	#menu:checked ~ .navbar{
		display:initial;
	}

}

@media(min-width:991px) and (max-width:1024px){
	#listaMenu a{
		font-size: 0.8rem;
		padding:0 20px;
	}
}

@media(min-width:769px) and (max-width:990px){
	#listaMenu a{
		font-size: 0.7rem;
		padding:0 10px;
	}

}


/*Inicio*/

@media(min-width:320px) and (max-width:359px){

	h1{
		font-size: 1.6rem !important;
	}

	.inicio p{
		font-size: 0.8rem !important;
	}

	.inicio hr{
	
		width: 80% !important;

	}

	.inicio{
		height: 950px;
	}

	.inicioIzq{
		padding:70px 0 0 !important ;
	}

	.inicioDer img{
		width:40%;
		padding:60px 10px;
	}

}

@media(min-width:360px) and (max-width:411px){

	h1{
		font-size: 1.8rem !important;
	}

	.inicio p{
		font-size: 1rem !important;
	}

	.inicio hr{
		height: 15px;
		width: 70% !important;

	}

	.inicio{
		height: 975px;
	}

	.inicioIzq{
		padding:90px 0 0 !important ;
	}

	.inicioDer img{
		width:40%;
		padding:60px 30px;
	}
}

@media(min-width:412px) and (max-width:469px){

	h1{
		font-size: 1.8rem !important;
	}

	.inicio p{
		font-size: 1rem !important;
	}

	.inicio hr{
		height: 15px;
		width: 70% !important;

	}
	.inicio{
		height: 1000px;
	}

	.inicioDer img{
		width:40%;
		padding:60px 30px;
	}
}

@media(min-width:470px) and (max-width:494px){

	h1{
		font-size: 2rem !important;
	}

	.inicio p{
		font-size: 1rem !important;
	}

	.inicio hr{
		height: 15px;
		width: 65% !important;

	}

	.inicioDer img{
		width:40%;
		padding:60px 30px;
	}

	.inicio{
		height: 930px;
		}
}

@media(min-width:495px) and (max-width:600px){

	h1{
		font-size: 2.3rem !important;
	}

	.inicio hr{
		height: 15px;

	}

	.inicio{
		height: 1000px;
		}
}

@media(min-width:601px) and (max-width:768px){
	.inicio{
		height: 950px;
		}
}

@media(min-width:769px) and (max-width:800px){
	.inicio{
		height: 900px;
		}
}

@media(min-width:320px) and (max-width:800px){
	.marcas{
		text-align: center;
	}
}

@media(min-width:320px) and (max-width:800px){
	h1{
		font-size: 3rem;
		text-align: center;
	}

	.hr-inicio hr{
		margin:10px auto 0;
		display:block;
		width:60%;
	}
	.inicioIzq{
		width:100%;
		padding:120px 0 0 ;
	}

	.inicioIzq p{
		text-align: center;
		padding:0 40px;
	}

	.inicioDer{
		width:100%;
		padding:10px 0 0 ;
	}

	.inicioDer p{
		text-align: center;
		padding:0 40px;
	}

	.inicio-box{
		margin:50px auto;
	}
}


@media(min-width:801px) and (max-width:991px){

	.inicioDer img{
		width:40%;
	}

	.inicioDer{
		padding:160px 0 0 ;
	}

	h1{
		font-size: 2rem;
	}

	.hr-inicio hr{
		margin:8px 0 0 ;
		width:65%;
	}
}


@media(min-width:992px) and (max-width:1024px){
	h1{
		font-size: 2.5rem;
	}

	.hr-inicio hr{
		width: 80%;
	}

	.inicioDer img{
		width:45%;
	}
}	

@media(min-width:769px) and (max-width:1024px){
	.inicio {background-image: url(../imagenes/slide1x.webp);
	}

	@keyframes animate{
		0%{
		background-image: url(../imagenes/slide2x.webp);
	}
		33%{
		background-image: url(../imagenes/slide3x.webp);
	}
		66%{
		background-image: url(../imagenes/slide4x.webp);
	}
}
}



@media(min-width:1025px) and (max-width:1280px){

	.inicioDer img{
		width:45%;
	}
}

/*acerca*/

@media(min-width:320px) and (max-width:449px){
	.columnaAcerca{
		padding: 0 0 80px;
		width:100% !important;
	}

	#nosotros h2{
		font-size: 1.6rem !important;
		
	}

	#nosotros p{
		padding:0;
		
	}

}

@media(min-width:450px) and (max-width:768px){
	.columnaAcerca{
		padding: 0 0 80px;
		width:100% !important;
	}

	#nosotros h2{
		font-size: 2rem;
		
	}

	#nosotros p{
		padding:0;
		
	}

}

@media(min-width:992px) and (max-width:1024px){
	.wrap2{
		width:90%;
	}

}

@media(min-width:769px) and (max-width:991px){
	.wrap2{
		width:100%;
	}

}




/*Servicios*/
@media(min-width:320px) and (max-width:768px){
	.columna-servicios{
		padding: 0 5% 80px;
		width:90% !important;
	}

	#servicios h2{
		font-size: 2rem;
	}
}

@media(min-width:1025px) and (max-width:1280px){
	#servicios h3{
		font-size: 1rem;
	}

	#servicios p{
		font-size: 0.8rem;
	}

}

@media(min-width:801px) and (max-width:1024px){
	#servicios h3{
		font-size: 0.9rem;
	}

	#servicios p{
		font-size: 0.8rem;
	}
}

@media(min-width:769px) and (max-width:991px){
	.columna-servicios{
		padding: 0 0 80px;
		width:45% !important;
	}

	.salto{
		display:none;
	}

	#servicios h3{
		font-size: 0.9rem;
	}

	#servicios p{
		font-size: 0.8rem;
	}
}


/*Productos*/
@media(min-width:320px) and (max-width:768px){
	.columna-productos{
		padding: 0 0 80px;
		width:90% !important;
	}

	#productos p{
		padding:0 5%;
	}

	#productos h2{
		font-size: 2rem;
	}

	#productos h3{
		font-size: 1.5rem;
	}

	#productos img{
		margin:30px auto;
	}

}

@media(min-width:1025px) and (max-width:1280px){
	#productos h3{
		font-size: 1rem;
	}
}

@media(min-width:992px) and (max-width:1024px){
	.columna-productos{
		padding: 0 0 50px;
		width:50%;
	}
}

@media(min-width:769px) and (max-width:991px){

	.columna-productos{
		padding: 0 0 50px;
		width:50%;
	}

	#productos h3{
		font-size: 1.2rem;
	}

	#productos p{
		font-size: 0.8rem;
	}
}

/*contacto*/

@media (min-width: 320px) and (max-width: 767px) {
    .contactoWrap{
        width:100%;
    }

    .sectionForm .containerForm {
        width: 80%;
        padding: 0;
    }

    .colForm{
        text-align: center;
    }

	#contacto h2{
		font-size: 2rem !important;
	}

}

@media (min-width: 320px) and (max-width: 330px) {


	.containerForm {
        width: 10px;
		margin:0 !important;
    }

}
